@model BugTracker.Models.RolesViewModels
@{
    ViewBag.Title = "Index";
}
<div class="wrapper">
    <div class="container intro">

        @using (Html.BeginForm("Edit", "Roles", FormMethod.Post))
        {
            //Regardless of strongly typed ViewBag if the return (post) controlled is looking for following strings preseeded by name it will work
            <input type="checkbox" name="AdminSelected" checked=@Model.AdminRoleSelected>@:Admin Role<br />
            <input type="checkbox" name="DeveloperSelected" checked=@Model.DeveloperRoleSelected />@:Developer Role<br />
            <input type="checkbox" name="ProjectManagerSelected" checked=@Model.ProjectManagerRoleSelected />@:Project Manager Role<br />
            <input type="checkbox" name="SubmitterSelected" checked=@Model.SubmitterRoleSelected />@:Submitter Role<br />
            <input id="UserId" name="UserId" type="hidden" value=@Model.UserId />
            //   @Html.Hidden(Model.UserName)
            //@Html.HiddenFor(m => Model.UserId)
            <input type="submit" value="submit" />
            //@Html.ActionLink("Index", "Roles", new { id = Model.UserName })

        }

    </div>
</div>


