    <!-- Extra Bar -->
@model IEnumerable<BugTracker.Models.Ticket>
<div class="cl-mcont">
    <div class="row">

        <div class="col-md-3 col-sm-6">
            <div class="fd-tile detail clean tile-purple">
                <div class="content"><h1 class="text-left">170</h1><p>New Tickets</p></div>
                <div class="icon"><i class="fa fa-bug"></i></div>
                <a class="details" href="#">Details <span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
            </div>
        </div>


        <div class="col-md-3 col-sm-6">
            <div class="fd-tile detail clean tile-green">
                <div class="content"><h1 class="text-left">@ViewBag.NotificationCount</h1><p>New Comments</p></div>
                <div class="icon"><i class="fa fa-comments"></i></div>
                <a class="details" href="@Url.Action("Create", "TicketComments")">Details <span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
            </div>
        </div>



        <div class="col-md-3 col-sm-6">
            <div class="fd-tile detail clean tile-prusia">
                <div class="content"><h1 class="text-left">25</h1><p>Projects</p></div>
                <div class="icon"><i class="fa fa-apple"></i></div>
                <a class="details" href="#">Details <span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="fd-tile detail clean tile-red">
                <div class="content"><h1 class="text-left">@ViewBag.Role</h1><p>Your Role Priviledge</p></div>
                <div class="icon"><i class="fa fa-user"></i></div>
                <a class="details" href="#">Details <span><i class="fa fa-arrow-circle-right pull-right"></i></span></a>
            </div>
        </div>

    </div>

    @Html.Partial("_TicketsIndex", Model)


    @*<div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Visitors</h3>
                </div>
                <div class="content full-width">
                    <div id="chart3-legend" class="legend-container"></div>
                    <div id="chart3" style="height: 180px;"></div>
                    <div class="counter-detail">
                        <div class="counter"><div class="spk1"></div><p>New Visitors</p><h5>146</h5></div>
                        <div class="counter"><div class="spk2"></div><p>Old Visitors</p><h5>109</h5></div>
                    </div>
                </div>
            </div>
            <div class="block-flat">
                <div class="header">
                    <h3>Tasks</h3>
                </div>
                <div class="content">
                    <div class="table-responsive">
                        <table class="no-border hover list">
                            <tbody class="no-border-y">
                                <tr class="items">
                                    <td style="width: 10%;"><span class="label label-warning">Task</span></td>
                                    <td><p><strong>Graphics</strong><span>description</span></p></td>
                                    <td class="color-success"><div class="progress"><div class="progress-bar progress-bar-warning" style="width: 80%">80%</div></div></td>
                                    <td class="text-right" style="width: 15%;"><a class="label label-default" href="#"><i class="fa fa-pencil"></i></a> <a class="label label-danger" href="#"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="items">
                                    <td><span class="label label-danger">File</span></td>
                                    <td><p><strong>Contact_form.psd</strong><span>description</span></p></td>
                                    <td class="color-success"><div class="progress"><div class="progress-bar progress-bar-danger" style="width: 60%">60%</div></div></td>
                                    <td class="text-right"><a class="label label-default" href="#"><i class="fa fa-pencil"></i></a> <a class="label label-danger" href="#"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="items">
                                    <td><span class="label label-success">Item</span></td>
                                    <td><p><strong>Header</strong><span>description</span></p></td>
                                    <td class="color-success"><div class="progress"><div class="progress-bar progress-bar-success" style="width: 100%">100%</div></div></td>
                                    <td class="text-right"><a class="label label-default" href="#"><i class="fa fa-pencil"></i></a> <a class="label label-danger" href="#"><i class="fa fa-times"></i></a></td>
                                </tr>
                                <tr class="items">
                                    <td><span class="label label-info">Social</span></td>
                                    <td><p><strong>Social Networks</strong><span>description</span></p></td>
                                    <td class="color-success"><div class="progress"><div class="progress-bar progress-bar-info" style="width: 100%">100%</div></div></td>
                                    <td class="text-right"><a class="label label-default" href="#"><i class="fa fa-pencil"></i></a> <a class="label label-danger" href="#"><i class="fa fa-times"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>*@
</div>


